server/dist
server/node_modules
server/build

server/.env
server/.env.development.local
server/.env.test.local
server/.env.production.local
server/.env.local

client/node_modules
client/dist
client/dist-ssr

TODO.txt